@model List<WebApplication1.Models.TransactionModel>

@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice.ToString("C")</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>

        <form asp-controller="Home" asp-action="ClearCart" method="post">
        <button type="submit" class="btn btn-danger">Clear Cart</button>
    </form>
    //Code to create a button on cart page to clear cart - once user has logged in. 
}
else
{
    <p>No items in your cart.</p>
}
