@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This will be the landing page for KhumaloCraft.</p>
    <p>Luke Edward Petzer - ST10298850</p>
</div>
