@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <form asp-controller="User" asp-action="SignUp" method="post">
        <p>Please signup:</p>
        <input type="text" name="userName" placeholder="Username" required>
        <input type="text" name="email" placeholder="example@gmail.com" required>
        <input type="text" name="password" placeholder="password" required>
        <button type="submit">Submit</button>
    </form>

    <form asp-controller="User" asp-action="Login" method="post">
        <p>Please login:</p>
        <input type="text" name="userName" placeholder="Username" required>
        <input type="text" name="password" placeholder="password" required>
        <button type="submit">Submit</button>
    </form>
</body>
