@{
    ViewData["Title"] = "My Work";

}
<h1>About Us </h1>
<body>

    <p>This page will be used to showcase what KhumaloCraft offers to it's clients.</p>
    <img src="/pictures/KhumaloCraftedPics1.jpg" width="900"  alt="Crafted goods">
  
</body>

<title>Product Prices</title>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<body>
    <h2>Product Prices</h2>
    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Parcel 1</td>
            <td>$50</td>
        </tr>
        <tr>
            <td>Parcel 2</td>
            <td>$60</td>
        </tr>
        <tr>
            <td>Parcel 3</td>
            <td>$70</td>
        </tr>
        <tr>
            <td>Parcel 4</td>
            <td>$80</td>
        </tr>
        <tr>
            <td>Jar 1</td>
            <td>$5</td>
        </tr>
        <tr>
            <td>Jar 2</td>
            <td>$5</td>
        </tr>
        <tr>
            <td>Scented Spray</td>
            <td>$6</td>
        </tr>
        <tr>
            <td>Scented Candles</td>
            <td>$4</td>
        </tr>
        <tr>
            <td>Scented Sheets</td>
            <td>$7</td>
        </tr>
        <tr>
            <td>Bottles</td>
            <td>$5</td>
        </tr>
        <tr>
            <td>Small Goodies</td>
            <td>$3 each</td>
        </tr>
    </table>
    <p>Luke Edward Petzer - ST10298850</p>
</body>



