@{
    ViewData["Title"] = "My Work";

}
<h1>My Work </h1>
<body>
    <body>
    <form asp-controller="product" asp-action="AddProduct" method="post">
        <p>Insert new products</p>
        <input type="text" name="Name" placeholder="productName" required>
        <input type="text" name="Price" placeholder="Price" required>
        <input type="text" name="Category" placeholder="Category" required>
        <input type="text" name="Availability" placeholder="Availability" required>
        <input type-"text" name="ProductImageURL" placeholder="ProductImageURL" required>
         <input type="number" name="ProductOwnerID" placeholder="Product Owner ID" required>
        <button type="submit">Submit</button>
    </form>
</body>

  
</body>

<title>Product Prices</title>
<body>
    <h2>Product Prices</h2>
   
    <p>Luke Edward Petzer - ST10298850</p>
</body>



