@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Contact details for KhumaloCraft:<br />
Telephone Number - 000 000 0000<br />
Email Address - KhumaloCraft@gmail.com</p>
<p>Luke Edward Petzer - ST10298850</p>
